.item-block {
  font-size: 8pt;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
}

.tab-list .tab {
  margin: 0.2em;
}

.tab-list .tab a:link {
  color: black;
}

.tab-list .tab a:visited {
  color: black;
}

.subheading {
  color: grey;
}

.item-view pre {
  font-size: 8pt;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}
