.item-block {
  font-size: 8pt;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
}

.tab-list .tab {
  margin: 0.2em;
}

.tab-list .tab a:link {
  color: black;
}

.tab-list .tab a:visited {
  color: black;
}
