{:edge.kick/config
 {:kick.builder/target #profile {:dev "target/dev"
                                 :prod "target/prod"}
  :kick/figwheel-main {:builds [{:id "app"
                                 :main poe-apps.store-manager.frontend.main
                                 :output-to "public/frontend.js"
                                 :output-dir "public/frontend.out"
                                 :asset-path "/frontend.out"
                                 :optimizations #profile {:dev :none
                                                          :prod :advanced}}]
                       :figwheel-config
                       {:ring-server-options
                        {:port 5700}}}}

 :ig.system/base
 {:poe-apps.store-manager.tabs/string "Hello, store-manager!"
  [:juxt.crux.ig.system/cluster-node :poe-apps.store-manager/system]
  {:kv-backend "crux.kv.memdb.MemKv"
   :bootstrap-servers "localhost:9092"}

  :poe-apps.store-manager.tabs/tabs-resource #ig/ref [:juxt.crux.ig.system/cluster-node :poe-apps.store-manager/system]
  :poe-apps.store-manager.tabs/cached #ig/ref [:juxt.crux.ig.system/cluster-node :poe-apps.store-manager/system]
  :poe-apps.store-manager.tabs/items-resource #ig/ref [:juxt.crux.ig.system/cluster-node :poe-apps.store-manager/system]
  :poe-apps.store-manager.tabs/predict-resource nil
  [:edge.yada.ig/classpath-name :poe-apps.store-manager/index] {:name "index.html"}
  [:edge.yada.ig/resources :poe-apps.store-manager/assets] {:path "public/"}
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 8989}
  :edge.bidi.ig/vhost [[:*
                        [""
                         [["/" #ig/ref [:edge.yada.ig/classpath-name :poe-apps.store-manager/index]]
                          ["/hello" #ig/ref :poe-apps.store-manager.tabs/string]
                          ["/api"
                           [["/tabs" [["" #ig/ref :poe-apps.store-manager.tabs/tabs-resource]
                                      [["/" :id] #ig/ref :poe-apps.store-manager.tabs/cached]]]
                            ["/items" [[["/" :id] [["" #ig/ref :poe-apps.store-manager.tabs/items-resource]
                                                   ["/predict" #ig/ref :poe-apps.store-manager.tabs/predict-resource]
                                                   ]
                                        ]]]]]
                          ["" #ig/ref [:edge.yada.ig/resources :poe-apps.store-manager/assets]]]]]]}

 :ig.system/dev
 {:edge.kick/builder #ref [:edge.kick/config]}

 :ig/system #profile {:dev #merge [#ref [:ig.system/base]
                                   #ref [:ig.system/dev]]
                      :default #ref [:ig.system/base]}}
